In [6]:
# Import Libraries

In [ ]:
#if __name__ == '__main__':

In [128]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,f1_score

In [129]:
## Import Dataset

df = pd.read_csv('C:/Users/Savita bhabhi/Desktop/ML/Salary Classification/adult_test.csv')
df.head()

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,Race,Sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [130]:
df.drop_duplicates(inplace = True)

In [131]:
df = df[(df.astype(str) != ' ?').all(axis=1)]
df.shape


income = df['income']
X = df.drop('income',axis =1)
#X = df.iloc[:,:-1]
X.shape
income.shape

(15055,)

In [132]:
print(X.head())

   Age   Workclass  fnlwgt      education  education-num       marital-status  \
0   25     Private  226802           11th              7        Never-married
1   38     Private   89814        HS-grad              9   Married-civ-spouse
2   28   Local-gov  336951     Assoc-acdm             12   Married-civ-spouse
3   44     Private  160323   Some-college             10   Married-civ-spouse
5   34     Private  198693           10th              6        Never-married

           occupation    relationship    Race    Sex  capital-gain  \
0   Machine-op-inspct       Own-child   Black   Male             0
1     Farming-fishing         Husband   White   Male             0
2     Protective-serv         Husband   White   Male             0
3   Machine-op-inspct         Husband   Black   Male          7688
5       Other-service   Not-in-family   White   Male             0

   capital-loss  hours-per-week  native-country
0             0              40   United-States
1             0              50   United-States
2             0              40   United-States
3             0              40   United-States
5             0              30   United-States

In [133]:
income_final = income.map({' <=50K.':0,' >50K.':1})
#income_final =  income.apply(lambda x: 1 if x == '>50K' else 0)
#df.apply(lambda x : x['Salary'] == '>=50k' )]
income_final.head(50)

0     0
1     0
2     1
3     1
5     0
7     1
8     0
9     0
10    1
11    0
12    0
14    1
15    1
16    0
17    0
18    0
20    1
21    0
23    0
24    0
25    1
26    0
27    0
28    0
29    0
30    1
31    0
32    0
33    0
34    0
36    1
37    0
38    0
39    0
40    1
41    1
42    0
43    0
44    0
45    1
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    1
54    0
55    0
Name: income, dtype: int64

In [134]:
n_1 = df[df.income  == ' >50K.'].income.count()
n_0 = df[df.income  == ' <=50K.'].income.count()
print(n_1)
print(n_0)

3700
11355

In [135]:
X.shape
income.shape


skewed = ['capital-gain', 'capital-loss']
X_log_transformed = pd.DataFrame(data = X)
X_log_transformed[skewed] = X[skewed].apply(lambda x: np.log(x + 1))

X.skew()

Age               0.535820
fnlwgt            1.424716
education-num    -0.320766
capital-gain      3.100578
capital-loss      4.268409
hours-per-week    0.360161
dtype: float64

In [136]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
columns_to_norm = ['Age', 'fnlwgt', 'education-num','capital-gain', 'capital-loss', 'hours-per-week']
X_norm_data = pd.DataFrame(data = X_log_transformed)
X_norm_data[columns_to_norm] = scaler.fit_transform(X_log_transformed[columns_to_norm])
X_norm_data.head()

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,Race,Sex,capital-gain,capital-loss,hours-per-week,native-country
0,-1.029269,Private,0.352055,11th,-1.216355,Never-married,Machine-op-inspct,Own-child,Black,Male,-0.299007,-0.222865,-0.079113,United-States
1,-0.057699,Private,-0.945124,HS-grad,-0.434700,Married-civ-spouse,Farming-fishing,Husband,White,Male,-0.299007,-0.222865,0.749958,United-States
2,-0.805061,Local-gov,1.395087,Assoc-acdm,0.737782,Married-civ-spouse,Protective-serv,Husband,White,Male,-0.299007,-0.222865,-0.079113,United-States
3,0.390718,Private,-0.277454,Some-college,-0.043872,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,3.339870,-0.222865,-0.079113,United-States
5,-0.356644,Private,0.085883,10th,-1.607182,Never-married,Other-service,Not-in-family,White,Male,-0.299007,-0.222865,-0.908184,United-States

In [137]:
#One hot encoding 

from sklearn.preprocessing import OneHotEncoder

X_encoded = pd.get_dummies(X_norm_data)
#X_encoded = X_encoded.drop(['Workclass_?'], axis=1,inplace =True)
X_encoded.head(10)

,Age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Private,Workclass_ Self-emp-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,-1.029269,0.352055,-1.216355,-0.299007,-0.222865,-0.079113,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,-0.057699,-0.945124,-0.434700,-0.299007,-0.222865,0.749958,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,-0.805061,1.395087,0.737782,-0.299007,-0.222865,-0.079113,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.390718,-0.277454,-0.043872,3.339870,-0.222865,-0.079113,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,-0.356644,0.085883,-1.607182,-0.299007,-0.222865,-0.908184,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
7,1.810705,-0.804865,1.910265,2.970962,-0.222865,-0.742370,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,-1.104005,1.704884,-0.043872,-0.299007,-0.222865,-0.079113,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9,1.212816,-0.801361,-2.388837,-0.299007,-0.222865,-2.566326,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
10,1.960177,-0.048951,-0.434700,3.266451,-0.222865,-0.079113,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
11,-0.207171,0.216294,1.128610,-0.299007,-0.222865,-0.079113,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [99]:
# Split and train LR
X_train,X_test,y_train,y_test = train_test_split(X_encoded,income_final,test_size = 0.3,random_state = 42)

#Record run time
import time 
start_time = time.time()

# Apply LogisticRegression

clf_lr = LogisticRegression()
clf_lr.fit(X_train,y_train)
end_time = time.time()

print(str(end_time - start_time)+ " seconds")

y_pred = clf_lr.predict(X_test)

score = clf_lr.score(X_test, y_test)
print("Accuracy Score :" + str(score*100))

from sklearn import metrics

cf_clf_lr  = metrics.confusion_matrix(y_test,y_pred)

from sklearn.metrics import f1_score

f1_clf_lr  = metrics.f1_score(y_test,y_pred)

clas_clf_lr  = metrics.classification_report(y_test,y_pred)
print ("Confusion matrix : " + str(cf_clf_lr))
print("F1_score : " + str(f1_clf_lr))
print("Classification report " +  str(clas_clf_lr))

print (X_test.shape)

0.18625140190124512 seconds
Accuracy Score :84.58305684583057
Confusion matrix : [[6285  464]
 [ 930 1363]]
F1_score : 0.6616504854368933
Classification report              precision    recall  f1-score   support

          0       0.87      0.93      0.90      6749
          1       0.75      0.59      0.66      2293

avg / total       0.84      0.85      0.84      9042

(9042, 104)

In [100]:
# Function to define Pipeline 


def pipeline(clf_name, X_train,X_test,y_train,y_test):
    
    start_time = time.time()
    clf_name.fit(X_train,y_train)
    end_time = time.time()
    clf_time = end_time - start_time
    print("Time taken by {} :{} seconds ".format((clf_name), (clf_time)))
    
    y_pred = clf_name.predict(X_test)
    
        
    #Accuracy score
    from sklearn.metrics import accuracy_score
    
    clf_acc = accuracy_score(y_test,y_pred)
    
    print( "Accuracy Score for {} : {}".format(clf_name , clf_acc))

In [101]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

clf_lr = LogisticRegression()
clf_KNN = KNeighborsClassifier(n_neighbors=5,n_jobs = -1)
clf_NB = GaussianNB()
clf_DT = DecisionTreeClassifier(criterion='gini', max_depth=5)
clf_SVM = SVC(random_state=0)
results = {}

for clf in [ clf_lr, clf_KNN, clf_NB]:
    results[clf] = pipeline(clf, X_train,X_test,y_train,y_test)
    print(results)

Time taken by LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False) :0.19254398345947266 seconds
Accuracy Score for LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False) : 0.8458305684583057
{LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False): None}
Time taken by KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
           weights='uniform') :0.20926880836486816 seconds
Accuracy Score for KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
           weights='uniform') : 0.8325591683255917
{LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False): None, KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
           weights='uniform'): None}
Time taken by GaussianNB(priors=None) :0.0606083869934082 seconds
Accuracy Score for GaussianNB(priors=None) : 0.5561822605618226
{LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False): None, KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
           weights='uniform'): None, GaussianNB(priors=None): None}

In [102]:
## Grid Search 

from sklearn.grid_search import GridSearchCV

clf = LogisticRegression(random_state = 31)

params = { 'C' : [0.5,1.0,10.0], 'intercept_scaling' : [1.0,1.5,2.0]}


grid = GridSearchCV(clf , param_grid = params , cv = 10)

start = time.time()
grid_fit = grid.fit(X_train,y_train)
end = time.time()


print("Time taken by GridSearch : {} seconds".format(end-start))

Time taken by GridSearch : 17.076009273529053 seconds

In [103]:
clf_best = (grid.best_estimator_)
print(grid.best_params_)

{'C': 1.0, 'intercept_scaling': 1.0}

In [104]:
y_grid_pred = clf_best.predict(X_test)

In [105]:
print("Accuracy score on testing data: {:.4f}".format(metrics.accuracy_score(y_test, y_pred)))
print("Accuracy score on testing data: {:.4f}".format(metrics.accuracy_score(y_test, y_grid_pred)))

Accuracy score on testing data: 0.8458
Accuracy score on testing data: 0.8458

In [139]:
#Ensemble techniques 

from sklearn.ensemble import RandomForestClassifier
clf_RF = RandomForestClassifier(n_estimators = 200, max_depth = 20)

RF_params = {'n_estimators':[75,200,500],'max_depth':[20]}

#RF_grid = GridSearchCV(clf_RF , param_grid = RF_params, cv = 5)

start = time.time()
clf_RF.fit(X_encoded,income_final)
#clf_RF.fit(X_train,y_train)



y_RF_pred = clf_RF.predict(X_encoded)

end = time.time()

print("Time taken by Random Forest : {} seconds".format(end-start))

Time taken by Random Forest : 3.128490924835205 seconds

In [72]:
RF_best_grid = RF_grid.best_estimator_
print(RF_best_grid)
print(RF_grid.best_params_)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=50, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
{'max_depth': 50, 'n_estimators': 200}

In [73]:
#y_RF_pred = RF_best_grid.predict(X_test)

In [141]:

print("Accuracy score on testing data: {:.4f}".format(metrics.accuracy_score(income_final, y_RF_pred)))

Accuracy score on testing data: 0.9290